*.ckpt
pretrain_weights/
test_weights/
model_weights/
data/
# geoseg/models/__pycache__/
# geoseg/models/.ipunb_checkpoints
geoseg/models/causal-convld
geoseg/models/mamba
# geoseg/__pycache__/
# geoseg/datasets/__pycache__/
# geoseg/losses/__pycache__/
# geoseg/datasets/
# geoseg/losses/
# geoseg/models/
# geoseg/__init__.py
# geoseg/
